<%= turbo_frame_tag 'editable' do %>
  <div class="card">
    <div class="card-header">
      <h4>Создание нового учебного периода</h4>
    </div>
    <div class="card-body">
      <%= form_with(model: @academic_period, url: admin_academic_periods_path(faculty_id: @faculty_id)) do |form| %>
        <%= form.hidden_field :faculty_id, value: @academic_period.faculty_id %>
        <div class="mb-3">
          <%= form.label :name, "Название периода", class: "form-label" %>
          <%= form.text_field :name, class: "form-control", required: true %>
        </div>

        <div class="row mb-3">
          <div class="col-md-6">
            <%= form.label :start_date, "Дата начала", class: "form-label" %>
            <%= form.date_field :start_date, class: "form-control", required: true %>
          </div>
          <div class="col-md-6">
            <%= form.label :end_date, "Дата окончания", class: "form-label" %>
            <%= form.date_field :end_date, class: "form-control", required: true %>
          </div>
        </div>

        <div class="d-flex justify-content-between">
          <%= form.submit "Создать", class: "btn btn-primary" %>
          <%= link_to "Отмена", :back, class: "btn btn-danger", data: { turbo_frame: "_top" } %>
        </div>
      <% end %>
    </div>
  </div>
  
<% end %>